<br><br>

<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <label for="nItemsPorPag">Introduce cantidad de viviendas por página</label>
    <input type="number" id="nItemsPorPag" class="form-control" [(ngModel)]="itemsPorPag" (ngModelChange)="actualizarBotones()">
  </div>
  <div>
    <nav aria-label="Page navigation" class="justify-content-center">
      <ul class="pagination">
        <ng-container *ngFor="let pagina of nPaginas center">
          <li class="page-item">
            <a class="page-link" (click)="mostrarPagina(pagina)">{{pagina}}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>

<!-- Tu tabla -->
<table class="table table-striped table-bordered">
  <!-- Encabezado de la tabla -->
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Zona</th>
      <th>Dirección</th>
      <th>N Dormitorios</th>
      <th>Precio</th>
      <th>Tamaño</th>
      <th>Extras</th>
      <th>Observaciones</th>
      <th>Fecha Anuncio</th>
    </tr>
  </thead>
  <!-- Cuerpo de la tabla -->
  <tbody>
    <ng-container *ngFor="let vivienda of viviendas;">
      <tr>
        <td>{{vivienda.id}}</td>
        <td>{{vivienda.tipo}}</td>
        <td>{{vivienda.zona}}</td>
        <td>{{vivienda.direccion}}</td>
        <td>{{vivienda.ndormitorios}}</td>
        <td>{{vivienda.precio}}</td>
        <td>{{vivienda.tamano}}</td>
        <td>{{vivienda.extras}}</td>
        <td>{{vivienda.observaciones}}</td>
        <td>{{vivienda.fecha_anuncio}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
