<br><br>
<div class="contenedorPrincipal">
  <div class="buscador-izquierda">
<!-- Parametros busqueda (otro componente hijo) -->
<app-buscador (parametrosCambiados)="recibirParametrosDelHijo($event)"></app-buscador>

</div>
<div class="contenido-derecha">
<div class="d-flex justify-content-between align-items-center mb-3">
  <div>

<!-- Inputs para la paginacion -->
    <label for="nItemsPorPag">Introduce cantidad de viviendas por página</label>
    <input type="number" id="nItemsPorPag" class="form-control" [(ngModel)]="itemsPorPag" (ngModelChange)="actualizarBotones()">
  </div>
  <div>
    <nav aria-label="Page navigation" class="justify-content-center">
      <ul class="pagination">
       
        <ng-container *ngFor="let pagina of nPaginas center">
          <li class="page-item">
            <a [ngStyle]="{'color': pagina === paginaActual ? '#000' : 'blue'}" class="page-link" (click)="mostrarPagina(pagina)">{{pagina}}</a>
          </li>
          
        </ng-container>
        
      </ul>
    </nav>
  </div>
</div>

<!-- Mostrar viviendas (en funcion de paginacion y parametros de busqueda) -->
<table class="table table-striped table-bordered">

  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Zona</th>
      <th>Dirección</th>
      <th>N Dormitorios</th>
      <th>Tamaño</th>
      <th>Extras</th>
      <th>Precio</th>
      <th>Observaciones</th>
      <th>Fecha Anuncio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let vivienda of viviendas;">
      <tr>
        <ng-container *ngFor="let columna of columnasVivienda">
          <td>{{vivienda[columna]}}</td>
        </ng-container>
        <td><button (click)="borrarVivienda(vivienda.id)">Borrar</button></td>
        <td><button (click)="usarVentanaEmergente(vivienda)">Modificar</button></td>
        <td><button (click)="abrirVentanaEmergente2(vivienda['id'])">Fotos</button></td>
        
      </tr>
    </ng-container>
  </tbody>
</table>


<!-- Mostrar imagenes -->
<div *ngIf="mostrarVentanaEmergente2" class="ventana-emergente">
  <div class="ventana-emergente-contenido">
    
    <ng-container *ngFor="let imagen of imagenesVivienda">
      
      <img src="assets/imagenes/{{imagen['foto']}}" alt="Imagen">

      

    </ng-container>
    <button (click)="cerrarVentanaEmergente2()">Cerrar</button>
  </div>
</div>




<!-- Modificar vivienda -->


<div *ngIf="mostrarVentanaEmergente" class="ventana-emergente">
  <div class="ventana-emergente-contenido">
    <h3>Modificar vivienda</h3>
      <br>
      <table class="table table-striped table-bordered tabla-emergente">
        <thead class="thead-dark">
          <tr>
            
            <th>Tipo</th>
            <th>Zona</th>
            <th>Dirección</th>
            <th>N Dormitorios</th>
            <th>Tamaño</th>
            <th>Extras</th>
            <th>Precio</th>
            <th>Observaciones</th>
            <th>Fecha Anuncio</th>
            <th></th>
            
          </tr>
        </thead>
        <tr>
          
            <td>
              <select name="tipo" id="tipo" [(ngModel)]="viviendaAModificar.tipo">
                <option value="Piso">Piso</option>
                <option value="Adosado">Adosado</option>
                <option value="Chalet">Chalet</option>
                <option value="Casa">Casa</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="viviendaAModificar.zona">
                <option value="Centro">Centro</option>
                <option value="Norte">Norte</option>
                <option value="Sur">Sur</option>
                <option value="Este">Este</option>
                <option value="Oeste">Oeste</option>
              </select>
            </td>

            <td>
              <input type="text" [ngModel]="viviendaAModificar.direccion">
            </td>
            <td>
              <select [(ngModel)]="viviendaAModificar.ndormitorios">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5 o más">5 o más</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)] = "viviendaAModificar.tamano">
            </td>
            <td>
              <select [(ngModel)]="viviendaAModificar.extras">
                <option value="Piscina">Piscina</option>
                <option value="Jardín">Jardín</option>
                <option value="Garaje">Garaje</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)] = "viviendaAModificar.precio">
            </td>
            
           
            <td>
              <input type="text" [(ngModel)] = "viviendaAModificar.observaciones">
            </td>
            <td>
              <input type="date" [(ngModel)] = "viviendaAModificar.fecha_anuncio">
            </td>


         
       
        
       

        </tr>
      </table>

    
    <button type="button" class="btn btn-secondary" (click)="modificarVivienda()">Modificar</button>
  </div>
</div>

</div>
</div>