<br><br>
<script src="https://kit.fontawesome.com/a567e1409c.js" crossorigin="anonymous"></script>
<div class="contenedorPrincipal">
  <div class="buscador-izquierda">
<!-- Parametros busqueda (otro componente hijo) -->
<app-buscador (parametrosCambiados)="recibirParametrosDelHijo($event)"></app-buscador>

</div>
<div class="contenido-derecha">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <!-- Inputs para la paginacion -->
      <label class="mb-3" for="nItemsPorPag">Introduce cantidad de viviendas por página</label>
     
      <div class="input-group">
        <input type="number" id="nItemsPorPag" class="form-control" [(ngModel)]="itemsPorPag" (ngModelChange)="actualizarBotones()">

        <div class="input-group-append">
          <button class="btn btn-outline-dark border-2 botonAñadir" type="button" (click)="mostrarAnadirComponent()">
           <ng-container *ngIf="!mostrarAnadir"> <i class="fas fa-plus"></i></ng-container> 
           <ng-container *ngIf="mostrarAnadir"> <i class="fas  fa-minus"></i></ng-container> 

           
          </button>
        </div>

      </div>
    </div>
    <div>
      <nav aria-label="Page navigation" class="justify-content-center">
        <ul class="pagination">
          <ng-container *ngFor="let pagina of nPaginas center">
            <li class="page-item">
              <a [ngStyle]="{'color': pagina === paginaActual ? '#000' : 'blue'}" class="page-link" (click)="mostrarPagina(pagina)">{{pagina}}</a>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
  </div>
  
<app-anadir *ngIf="mostrarAnadir" (seCreoVivienda)="obtenerViviendasPag()"></app-anadir>



<!-- Mostrar viviendas (en funcion de paginacion y parametros de busqueda) -->
<table class="table table-striped table-bordered">

  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Zona</th>
      <th>Dirección</th>
      <th>N Dormitorios</th>
      <th>Tamaño</th>
      <th>Extras</th>
      <th>Precio</th>
      <th>Observaciones</th>
      <th>Fecha Anuncio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let vivienda of viviendas;">
      <tr>
        <ng-container *ngFor="let columna of columnasVivienda">
          <td>{{vivienda[columna]}}</td>
        </ng-container>
        <td><button (click)="borrarVivienda(vivienda.id)" class="btn btn-danger">Borrar</button></td>
        <td><button (click)="usarVentanaEmergente(vivienda)" class="btn btn-primary">Modificar</button></td>
        <td><button (click)="abrirVentanaEmergente2(vivienda['id'])" class="btn btn-dark">Fotos</button></td>
        
      </tr>
    </ng-container>
  </tbody>
</table>


<!-- Mostrar imagenes -->
<div *ngIf="mostrarVentanaEmergente2" class="ventana-emergente">
  <div class="ventana-emergente-contenido">
    
    
    <div class="escalera-imagenes">
      <ng-container *ngFor="let imagen of imagenArchivo; let i = index">
   
        
        <img  (click)="borrarImagen(nombreImagenes[i],viviendaAModificar.id)" class="imagen-pequena" src="{{'data:image/jpg;base64,' + imagen}}" />
        
       
        
       
      </ng-container>
     
    </div>
    
  
    <div class="container">
      
        <div class="row">
          <div class="col align-self-center">
           <h3>Haz click en la imagen para borrarla</h3>
          </div>

        <div class="row">
          <div class="col align-self-center">
          <input type="file" accept="image/*" multiple (change)="onFileChange($event)" class="form-control" placeholder="Añadir imagen"> 
          <!-- Solo admite archivos imagen, llamara al metodo onFileSelected cada vez que meta imagenes 
              para seguir la dinamica del ngModel-->
              </div>

        </div>
        <div class="row">
          <div class="col align-self-center">
          <button (click)="cerrarVentanaEmergente2()" class="btn btn-dark">Cerrar</button>
          </div>
        </div>
      
    </div>
    



  </div>
</div>









<!-- Modificar vivienda -->


<div *ngIf="mostrarVentanaEmergente" class="ventana-emergente">
  <div class="ventana-emergente-contenido">
    <h3>Modificar vivienda</h3>
      <br>
      <table class="table table-striped table-bordered tabla-emergente">
        <thead class="thead-dark">
          <tr>
            
            <th>Tipo</th>
            <th>Zona</th>
            <th>Dirección</th>
            <th>N Dormitorios</th>
            <th>Tamaño</th>
            <th>Extras</th>
            <th>Precio</th>
            <th>Observaciones</th>
            <th>Fecha Anuncio</th>
            <th></th>
            
          </tr>
        </thead>
        <tr>
          
            <td>
              <select name="tipo" id="tipo" [(ngModel)]="viviendaAModificar.tipo">
                <option value="Piso">Piso</option>
                <option value="Adosado">Adosado</option>
                <option value="Chalet">Chalet</option>
                <option value="Casa">Casa</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="viviendaAModificar.zona">
                <option value="Centro">Centro</option>
                <option value="Norte">Norte</option>
                <option value="Sur">Sur</option>
                <option value="Este">Este</option>
                <option value="Oeste">Oeste</option>
              </select>
            </td>

            <td>
              <input type="text" [ngModel]="viviendaAModificar.direccion">
            </td>
            <td>
              <select [(ngModel)]="viviendaAModificar.ndormitorios">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5 o más">5 o más</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)] = "viviendaAModificar.tamano">
            </td>
            <td>
              <select multiple [(ngModel)]="viviendaAModificar.extras">
                <option value="Piscina">Piscina</option>
                <option value="Jardín">Jardín</option>
                <option value="Garaje">Garaje</option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)] = "viviendaAModificar.precio">
            </td>
            
           
            <td>
              <input type="text" [(ngModel)] = "viviendaAModificar.observaciones">
            </td>
            <td>
              <input type="date" [(ngModel)] = "viviendaAModificar.fecha_anuncio">
            </td>


         
       
        
       

        </tr>
      </table>

    
    <button type="button" class="btn btn-secondary" (click)="modificarVivienda()">Modificar</button>
  </div>
</div>

</div>
</div>