form{

    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}

button{
    background-color: #28242c;
  
}

button:hover{
    background-color: white;
    color: #28242c;
}

form{
    padding: 10px;
    border: 3px;
}