<ng-container *ngIf="usuarioCorrecto">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Inmobiliaria</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Otros elementos de la barra de navegación, si los hay -->
        </div>
      
        <!-- Contenedor para el nombre de usuario y el botón de desconexión -->
        <div class="navbar-text ml-auto custom-spacing">
          <!-- Mostrar el nombre de usuario -->
          <span class="custom-spacing">¡Hola {{ nombreUsuario }}! {{fechaUltimaSession}}</span>
          <button *ngIf="esAdmin && estaEnViviendas" class="btn btn-outline-light custom-spacing" [routerLink]="'gestionUsuarios'">Gestionar Usuarios</button>
          <button *ngIf="!estaEnViviendas" class="btn btn-outline-light custom-spacing" [routerLink]="'viviendas'">Volver</button>
          <!-- Enlace/botón de desconexión -->
        
          <button class="btn btn-outline-light" (click)="cerrarSesion()">Desconectar</button>
        </div>
      </nav>
      
</ng-container>
<router-outlet></router-outlet>

